html {
    background-color: rgb(113, 189, 177);
    text-align: center;
    color: lemonchiffon;
}
h1{
    text-size-adjust: 2em;

}
h2{
    text-size-adjust: em;
}
header{
    text-decoration:wavy ;
    color: blanchedalmond;
}
header h1{
    text-align: center;
    text-size-adjust:2em;
    color: aquamarine;
    border:4px inset rgb(42, 83, 85);
    border-radius: 7px;

}